.films,
.favourite {
    .container {
        display: flex;
        flex-wrap: wrap;
    }

    &__img-block {
        border-radius: 15px;
        margin: 1%;
        width: 23%;
        box-shadow: 0 0 15px #38a7e7;
    }

    &__img {
        width: 100%;
        cursor: pointer;
    }
    &__title {
        color:#38a7e7;
        font-size: 14px;
        text-align: center;
        font-weight: 700;
        margin: 5px 0;
    }
}