.header {
    background: $main-color-1;
    padding: 10px 15px 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid #000;

    &__upper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 100px;
    }

    &__logo {
        height: 50px;
    }

    h1 {
        font-family: 'freestyle_scriptregular';
        margin: 0;
        color: $main-color-2;
        text-align: center;
        font-size: 50px;
        font-weight: 800;
    }

    &__navigation {
        display: flex;
        align-items: center;
        justify-content: space-around;
        // padding-top: 10px;
    }

    &__link {
        &:hover {
            color: $main-color-2;
            text-shadow: 1px 1px 2px black, 0 0 1em $main-color-2;
        }
    }

    &__link_active {
        font-size: 22px;
        font-weight: 700;
    }
}
