* {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

.wrapper {
    width: 100%;
    overflow: hidden;
    font-family: $font;
    color: $color-text;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.two-columns {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    // align-items: center;

    &__col {
        width: 100%;

        @media(min-width: 768px) {
            width: 50%;
        }
    }
}

.title {
    text-align: center;
    color: $main-color-1;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 700;
    line-height: 32px;
    padding-bottom: 0;

    @media(min-width: 768px) {
        font-size: 29px;
        line-height: 45px;
        padding-bottom: 5px;
    }
}

ul {
    padding-inline-start: 0;
    list-style-type: none;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
}

a {
    text-decoration: none;
    color: $color-text;
}

.visible {
    display: block;
}

.hidden {
    display: none;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from{opacity: 0.1;}to{opacity: 1;}
}

.no-films-msg {
    margin: 10px auto;
    width: 300px;
    color: #000;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding: 15px;
    background: $main-color-1;
    border: none;
    border-radius: 15px;
}