.search {
    .container {
        position: relative;
    }

    &__bar {
        // display: flex;
        // justify-content: space-between;
        position: relative;
        width: 60%;
        margin: 10px auto;
        background: $main-color-1;
        border-radius: 25px;
    }

    &__input,
    &__btn {
        background: $main-color-1;
        border: none;
        padding: 10px;
    }

    &__input {
        width: 69%;
        border-radius: 25px 0 0 25px;
        outline: none;
    }

    &__btn {
        width: 30%;
        border-left: 1px solid black;
        border-radius: 0 25px 25px 0;
        cursor: pointer;
        transition: 0.5s all;;

        &:hover {
            background: $main-color-3;
        }
    }

    &__return-btn {
        display: none;
        position: absolute;
        right: -120px;
        top: -5px;
        width: 100px;
        background: $main-color-1;
        border: none;
        padding: 10px;
        margin: 5px;
        border-radius: 25px;
        cursor: pointer;
        transition: 0.5s all;

        &:hover {
            background: $main-color-3;
          }
    }
}