$main-color-1: #87bfe0;
$main-color-2: #d41717;
$main-color-3: #298ac2;
$color-text: #555555;


$font: "Open Sans", "Arial", sans-serif;
$font-secondary: "freestyle_scriptregular", "Arial", sans-serif;

